.left-quickbar__container
    .quick__flexContainer
        a(href=routes.home)
            div.quick-icons
                i.fas.fa-home
                span Home
        div.quick-icons    
            i.far.fa-bookmark 
            span Subscribe
        div.quick-icons    
            i.fas.fa-box-open 
            span Saved Video
        if(user)
            each video in user.subscribedYoutubers
                ul
                    li=video.name
                a.SubscribedYoutubers(href=video.avatarUrl)
                    img(src=video.avatarUrl, alt="")