div.left__quickbar
    .quick-icons
        span
            i.fas.fa-home Home
        span    
            i.far.fa-bookmark Subscribe
        span    
            i.fas.fa-box-open Saved Video