.header {
  background-color: $red;
  position: fixed;
  z-index: 9999;
  width: 100%;
  .header__wrapper {
    padding: 5px 0px;
    margin: 0 auto;
    max-width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    .header__column {
      i {
        color: white;
        font-size: 40px;
        padding-left: 15px;
      }
      &:nth-child(2) {
        width: 100%;
        justify-content: center;
      }
      &:last-child {
        justify-self: end;
        margin-right: 15px;
      }
      ul {
        display: flex;
        color: white;
        font-weight: 600;
        text-transform: uppercase;
        li:not(:last-child) {
          margin-right: 15px;
        }
        a {
          color: white;
        }
      }
      .UserAvatar img {
        width: 20px;
        height: 20px;
        border: 5px blue;
        border-radius: 5px;
      }
      form {
        width: 100%;
        input {
          padding: 7px 10px;
          width: 100%;
          border-radius: 5px;
          font-size: 14px;
          color: $black;
          font-weight: 600;
          max-width: none;
          &::placeholder {
            font-weight: 300;
            color: rgba(0, 0, 0, 0.7);
          }
        }
      }
    }
  }
}
