.home-videos {
  padding-top: 80px;
  margin: 0;
  display: grid;
  width: 100%;
  grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
  justify-content: space-around;
  column-gap: 15px;
  row-gap: 30px;
  .videoBlock {
    grid-column: span 2;
  }
}
